.header {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.header-navigation {
    box-sizing: border-box;
    min-height: 108px;
    /* padding: 0 5.5rem; */
    padding: 0 4.58%;
    background-color: #AA0601;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnToggle {
    position: absolute;
    z-index: 1;
    /* left: 3rem; */
    left: 4.58%;
    visibility: hidden;
}

.header-logo>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-navigation-container>li {
    margin-left: 4rem;
}

.header-navigation-container>li>a {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #ffffff;
}

.header-container {
    background: url(../images/headerImg/header_bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
    /* height: 52.5rem; */
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 18.75%;
    /* padding-right: 22.5rem; */
}

.header-subTitle {
    font-size: 2.25rem;
    line-height: 3.125rem;
    color: #650300;
}

.header-mainTitle {
    font-size: 4rem;
    line-height: 5.625rem;
    color: #650300;
    font-weight: bolder;
}

/*------------------------------------------------------------------------------------*/

@media (max-width: 1560px) {
    .header {
        padding-bottom: 2.5rem;
    }

    .header-navigation {
        padding: 0 3rem;
    }

    .header-subTitle {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .header-mainTitle {
        font-size: 3rem;
        line-height: 4.1875rem;
    }

    .header-container {
        background: url(../images/headerImg/header_bg_768x840.png) no-repeat;
        max-width: 768px;
        /* padding-right: 3rem; */
        padding-right: 6.25%;
    }
}

@media (max-width: 767px) {
    .header {
        padding-bottom: 2rem;
    }

    .header-navigation {
        padding: 0 1rem;
        min-height: 50px;
        justify-content: center;
        position: fixed;
        width: 375px;
        z-index: 1000;
    }

    .btnToggle {
        left: 1rem;
        visibility: visible;
    }

    .header-logo>a>img {
        max-width: 60%;
    }

    .header-navigation-container {
        /* display: none;  使用這個動畫效果會失敗*/
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0px;
        background-color: #AA0601;
        transition: max-height .8s;
        overflow: hidden;
    }

    .header-navigation-container.active {
        visibility: visible;
        display: flex;
        flex-direction: column;
        max-height: 400px;
    }

    .header-navigation-container.active>li {
        margin: 0;
        padding: 1rem auto;
        height: 59px;
        width: 100%;
        border-top: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .header-navigation-container.active>li:last-child {
        border-bottom: 1px solid #ffffff;
    }

    .header-navigation-container.active>li:hover {
        background-color: #8f0400;
    }

    .header-navigation-container.active>li>a {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .header-subTitle {
        font-size: 1rem;
        line-height: 1.375rem;
    }

    .header-mainTitle {
        font-size: 2rem;
        line-height: 2.8125rem;
    }

    .header-container {
        padding-right: 3.2%;
        background: url(../images/headerImg/header_bg_375x394.png) no-repeat;
        max-height: 394px;
        margin-top: 50px;
    }
}

@media (max-width: 375px) {
    /* .header-container {
    background: url(../images/headerImg/header_bg_375x394.png) no-repeat;
    max-height: 394px;
} */
}